# Prerequisites:

Used Python 3.7 and PySpark
PySpark could be replaced with Apache Beam as well
The file locations for CSV files as well as the filename and path for the destination parquet file may need to be changed in the code below.

# Choosing Row Group

After initial inspection of the data as well as the questions posed it appears that we should organize rows of data together that correspond to readings accross a single day. Since the amount of data per day will vary the optimum solution is to determine the row group size of each day's data as the parquet file is being saved. This will give us a similar value for each row group. This is preferred to setting a fixed row group size.

# Converting CSV data to Parquet

We read both csv files into separate dataframes and then append then to create a single dataframe.
We take filtered subsets of our dataframe (by filtering for all the data corresponding to each day within each month) and these subset dataframes are stored in a list datastructure. The pyarrow API/Library is used to create a table where each row group comprises data for a single day and in this way we create a parquet file with the appropriate row group (based on how we want to select data in future).
The Temperature readings column has many readings of -99 degrees which is obviously incorrect so such readings are filtered out from the source CSV dataframes and will not be used for further analysis.

In [56]:
import pandas as pd

import pyarrow as pa
import pyarrow.parquet as pq

file1 = "C:/Samar/input/weather.20160201.csv"
file2 = "C:/Samar/input/weather.20160301.csv"

febdays = range(1,30)
mardays = range(1,32)

def read_csv(day, month,df):
    mylist = []
    mylist.append(df[(df['ObservationDate'].dt.day==day) & (df['ObservationDate'].dt.month==month) & (df['ScreenTemperature']!=int("-99"))])
    return mylist

df = pd.read_csv(
        file1,
        parse_dates=["ObservationDate"],
        index_col=False,
        infer_datetime_format=True,
    )

df2 = pd.read_csv(
        file2,
        parse_dates=["ObservationDate"],
        index_col=False,
        infer_datetime_format=True,
    )

df = df.append(df2)


df_list = []
temp_list = []

for i in febdays:
    temp_list = read_csv(i, 2, df)
    df_list = df_list + temp_list
    
for j in mardays:
    temp_list = read_csv(j, 3, df)
    df_list = df_list + temp_list


table = pa.Table.from_pandas(df_list[0], preserve_index=False)
filename = "C:/Samar/input/converted-rowgroups.parquet"
writer = pq.ParquetWriter(filename, table.schema)

for df in df_list:
    table = pa.Table.from_pandas(df, preserve_index=False)
    writer.write_table(table)
writer.close()
print ("Single Parquet File Created!")

Single Parquet File Created!

# Looking at Metadata

In [ ]:
We can do a sanity check of the parquet file by looking at metadata to ensure the conversion was successful. 
We print out the number of rows of data in each row group as well as the number of bytes in each row group. The number of rows 
in each row group can be checked against the original excel files to ensure correctness. We could also examine datatypes etc.

In [59]:
import pyarrow.parquet as pq

pq_file = pq.ParquetFile(filename)

data = [["columns:", pq_file.metadata.num_columns],
        ["rows:", pq_file.metadata.num_rows],
        ["row_roups:", pq_file.metadata.num_row_groups]
        ]



s = pq_file.metadata.schema
#data2 = [[s.column(i).name, s.column(i).physical_type,  s.column(i).logical_type] for i in range(len(s))]

data3 = []
for rg in range(pq_file.metadata.num_row_groups):
    rg_meta = pq_file.metadata.row_group(rg)
    data3.append([rg, rg_meta.num_rows, rg_meta.total_byte_size])


print("" + str(data3))

[[0, 3216, 29180], [1, 3197, 28590], [2, 3203, 26494], [3, 3187, 26257], [4, 3181, 26794], [5, 3187, 27514], [6, 3155, 27374], [7, 3152, 27500], [8, 3135, 25698], [9, 2774, 24106], [10, 3171, 25011], [11, 3225, 25357], [12, 3104, 26503], [13, 3216, 26317], [14, 3085, 24844], [15, 3062, 28160], [16, 3107, 26582], [17, 3211, 24722], [18, 3202, 26963], [19, 3226, 27357], [20, 3217, 27615], [21, 3211, 26345], [22, 3221, 24870], [23, 3233, 23940], [24, 3259, 23022], [25, 3240, 24054], [26, 3233, 23565], [27, 3225, 23288], [28, 3234, 25676], [29, 3189, 27046], [30, 3210, 27321], [31, 3195, 25846], [32, 3211, 25746], [33, 3213, 24716], [34, 3204, 23594], [35, 3193, 24062], [36, 3204, 25274], [37, 3199, 26382], [38, 3210, 23970], [39, 3215, 24315], [40, 3218, 24787], [41, 3217, 23584], [42, 3214, 23325], [43, 3215, 23700], [44, 3371, 24232], [45, 3213, 23389], [46, 3205, 23311], [47, 3207, 22249], [48, 3225, 23307], [49, 3221, 24654], [50, 3233, 22936], [51, 3196, 22749], [52, 3201, 25193], [53, 3183, 25191], [54, 3126, 27261], [55, 3206, 27369], [56, 3212, 27012], [57, 3228, 24756], [58, 3216, 24164], [59, 3223, 23323]]

# Which day was the hottest day?

The manner in which this question is posed creates great uncertainty as to what it is we are trying to find out. Temperature is dependant upon location and we have data accross many different locations so what do we mean by the hottest day. For example it might be a very cold day in certain locations in Scotland while the same day might have record high temperatures in the South of the country. Simply getting an average of all readings accros multiple locations per day doesn't adequately answer this question. We will need to take the average of the 24 readings per day per site and then determine the highest average reading which will be for a given site which is part of a particular region and this reading will occur on a particular day.

It might be considered that Median is a better measure than average for the mean value since the median is really the mean which disregards outliers (making it more accurate). However in this scenario do we really want to disregard outliers when we are looking for the hottest day? 

The question as to what the temperature was is inextricably linked with the location as well as the time of day. However since we are relying on location we can look at the average temperature for a particular location.

The location we choose will be in a particular region.

# Using pyspark.sql

In [62]:


from pyspark.sql.functions import mean
from pyspark.sql import SparkSession
import pyspark.sql as py
#import org.apache.spark.sql.SQLContext
#import sqlContext.implicits._

#sqlContext = new SQLContext(sc)

spark = SparkSession.builder \
    .master("local") \
    .appName("Temperature") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df_parquet = spark.read.format("parquet").load(filename)

#df_parquet.groupBy("ObservationDate","SiteName").agg(mean("ScreenTemperature").alias("AvgTemperature")).orderBy("AvgTemperature", ascending=False).limit(1).show()

df_parquet.createOrReplaceTempView("ParquetTable")
#spark.sql("select ObservationDate, AVG(ScreenTemperature) as AverageTemperature, SiteName, Region from ParquetTable Group By ObservationDate, SiteName, Region Order By AverageTemperature DESC LIMIT 1").explain()
sparkSQL = spark.sql("select ObservationDate, AVG(ScreenTemperature) as AverageTemperature, SiteName, Region from ParquetTable Group By ObservationDate, SiteName, Region Order By AverageTemperature DESC")
sparkSQL.collect()
sparkSQL.show(1)
sparkSQL.show(200)
#sparkSQL.createOrReplaceTempView("ParquetTable2")
#sparkSQL2 = spark.sql("select count(distinct ObservationDate), first_value(ObservationDate) from ParquetTable2 where AverageTemperature > 10.0" )
#sparkSQL2.show()

+-------------------+------------------+--------------------+------------------+
|    ObservationDate|AverageTemperature|            SiteName|            Region|
+-------------------+------------------+--------------------+------------------+
|2016-02-21 00:00:00|12.666666666666664|EXETER AIRPORT (3...|South West England|
+-------------------+------------------+--------------------+------------------+
only showing top 1 row

+-------------------+------------------+--------------------+--------------------+
|    ObservationDate|AverageTemperature|            SiteName|              Region|
+-------------------+------------------+--------------------+--------------------+
|2016-02-21 00:00:00|12.666666666666664|EXETER AIRPORT (3...|  South West England|
|2016-02-21 00:00:00|           12.6625|    YEOVILTON (3853)|  South West England|
|2016-02-21 00:00:00| 12.64583333333333|     HEATHROW (3772)|London & South Ea...|
|2016-02-21 00:00:00|12.608695652173912|     NORTHOLT (3672)|London & South Ea...|
|2016-02-21 00:00:00|12.583333333333337|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-21 00:00:00|12.470833333333337|     PERSHORE (3529)|       West Midlands|
|2016-02-01 00:00:00|12.409090909090908|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-21 00:00:00|12.283333333333337|     HEREFORD (3522)|       West Midlands|
|2016-02-21 00:00:00|12.195833333333331| SHOEBURYNESS (3693)|     East of England|
|2016-02-01 00:00:00|12.183333333333332| SHOEBURYNESS (3693)|     East of England|
|2016-02-21 00:00:00|12.170833333333333|    WITTERING (3462)|     East of England|
|2016-02-21 00:00:00|12.133333333333333|  FARNBOROUGH (3768)|London & South Ea...|
|2016-02-21 00:00:00|12.129166666666668|    WATTISHAM (3590)|     East of England|
|2016-02-01 00:00:00|            12.125|     HEATHROW (3772)|London & South Ea...|
|2016-02-21 00:00:00|12.108333333333334|    COLESHILL (3535)|       West Midlands|
|2016-02-21 00:00:00|12.104166666666666|ANDREWS FIELD (3684)|     East of England|
|2016-02-01 00:00:00|12.091666666666667|     NORTHOLT (3672)|London & South Ea...|
|2016-02-01 00:00:00|12.070833333333331|EXETER AIRPORT (3...|  South West England|
|2016-02-21 00:00:00|11.995833333333335|       BENSON (3658)|London & South Ea...|
|2016-02-21 00:00:00|11.986363636363636|     HOLBEACH (3469)|       East Midlands|
|2016-02-01 00:00:00|           11.9375|    YEOVILTON (3853)|  South West England|
|2016-02-21 00:00:00|11.837499999999999|       MARHAM (3482)|     East of England|
|2016-02-21 00:00:00|11.795833333333333|      BEDFORD (3560)|     East of England|
|2016-02-01 00:00:00|11.776470588235293|         HURN (3862)|  South West England|
|2016-02-21 00:00:00|11.770833333333334|    WEYBOURNE (3488)|     East of England|
|2016-02-01 00:00:00|11.761904761904761|   HULL EAST (99214)|  Yorkshire & Humber|
|2016-02-21 00:00:00|11.741666666666665|     HAWARDEN (3321)|               Wales|
|2016-02-01 00:00:00| 11.64583333333333|     HAWARDEN (3321)|               Wales|
|2016-02-01 00:00:00|11.616666666666665|     PERSHORE (3529)|       West Midlands|
|2016-02-21 00:00:00|11.570833333333333| SHOBDON SAWS (3520)|       West Midlands|
|2016-02-21 00:00:00|11.570833333333331|CHURCH LAWFORD (3...|       West Midlands|
|2016-02-21 00:00:00|11.562500000000002|MIDDLE WALLOP (3749)|London & South Ea...|
|2016-02-21 00:00:00|11.545833333333329|       ODIHAM (3761)|London & South Ea...|
|2016-02-01 00:00:00|11.537500000000001|    WEYBOURNE (3488)|     East of England|
|2016-02-01 00:00:00|11.520833333333334|     HEREFORD (3522)|       West Midlands|
|2016-02-01 00:00:00|11.504166666666668|      MANSTON (3797)|London & South Ea...|
|2016-02-01 00:00:00| 11.48695652173913|     HOLBEACH (3469)|       East Midlands|
|2016-02-01 00:00:00|11.486363636363636|    CONINGSBY (3391)|       East Midlands|
|2016-02-21 00:00:00|11.479166666666664|     SHAWBURY (3414)|       West Midlands|
|2016-02-01 00:00:00|11.474999999999996|  FARNBOROUGH (3768)|London & South Ea...|
|2016-02-01 00:00:00|11.466666666666667|    WITTERING (3462)|     East of England|
|2016-02-21 00:00:00|11.450000000000003|      WATNALL (3354)|       East Midlands|
|2016-02-01 00:00:00|11.437500000000002|   WADDINGTON (3377)|       East Midlands|
|2016-02-01 00:00:00|           11.4375|       BENSON (3658)|London & South Ea...|
|2016-02-01 00:00:00|11.433333333333332|SCILLY ST MARYS (...|  South West England|
|2016-02-21 00:00:00|11.420833333333336|    WAINFLEET (3392)|       East Midlands|
|2016-02-20 00:00:00| 11.41304347826087|EXETER AIRPORT (3...|  South West England|
|2016-02-01 00:00:00|11.404166666666661|LECONFIELD SAR (3...|  Yorkshire & Humber|
|2016-02-21 00:00:00|11.395652173913044|         HURN (3862)|  South West England|
|2016-02-01 00:00:00|11.383333333333333|   DONNA NOOK (3385)|       East Midlands|
|2016-02-01 00:00:00|           11.3375|ANDREWS FIELD (3684)|     East of England|
|2016-02-21 00:00:00|11.320833333333335|BOSCOMBE DOWN (3746)|  South West England|
|2016-02-01 00:00:00|11.312500000000002|     CRANWELL (3379)|       East Midlands|
|2016-02-01 00:00:00|11.300000000000002|    COLESHILL (3535)|       West Midlands|
|2016-02-01 00:00:00|11.299999999999999|    CHARLWOOD (3769)|London & South Ea...|
|2016-02-21 00:00:00|11.299999999999999|    CONINGSBY (3391)|       East Midlands|
|2016-02-01 00:00:00|11.278260869565216|       MARHAM (3482)|     East of England|
|2016-02-21 00:00:00|11.266666666666664|     LARKHILL (3743)|  South West England|
|2016-02-01 00:00:00|11.262499999999998|     CHIVENOR (3707)|  South West England|
|2016-02-21 00:00:00|11.227777777777778| BRIZE NORTON (3649)|London & South Ea...|
|2016-02-01 00:00:00|11.220833333333333|    WAINFLEET (3392)|       East Midlands|
|2016-02-21 00:00:00|11.204347826086956|   WADDINGTON (3377)|       East Midlands|
|2016-02-01 00:00:00|11.195454545454545|THORNEY ISLAND (3...|London & South Ea...|
|2016-02-21 00:00:00|11.191666666666668|     CRANWELL (3379)|       East Midlands|
|2016-02-21 00:00:00|11.162500000000001|SCILLY ST MARYS (...|  South West England|
|2016-02-01 00:00:00|11.154166666666669|MIDDLE WALLOP (3749)|London & South Ea...|
|2016-02-21 00:00:00|11.141666666666666|      MANSTON (3797)|London & South Ea...|
|2016-02-21 00:00:00|            11.125|     CAMBORNE (3808)|  South West England|
|2016-02-21 00:00:00|            11.125|    TRAWSGOED (3503)|               Wales|
|2016-02-01 00:00:00|11.108333333333333|     SHAWBURY (3414)|       West Midlands|
|2016-02-01 00:00:00| 11.08695652173913|    WATTISHAM (3590)|     East of England|
|2016-02-21 00:00:00|11.083333333333334|    CHARLWOOD (3769)|London & South Ea...|
|2016-02-01 00:00:00|11.079166666666666|      WATNALL (3354)|       East Midlands|
|2016-02-01 00:00:00|           11.0625|      BEDFORD (3560)|     East of England|
|2016-02-01 00:00:00|11.060869565217391|       ODIHAM (3761)|London & South Ea...|
|2016-02-21 00:00:00|11.024999999999999|     CHIVENOR (3707)|  South West England|
|2016-03-13 00:00:00|11.016666666666666|      KINLOSS (3066)|            Grampian|
|2016-02-01 00:00:00|10.979166666666664|CHURCH LAWFORD (3...|       West Midlands|
|2016-03-12 00:00:00|10.949999999999998|   MAGILLIGAN (3907)|    Northern Ireland|
|2016-02-01 00:00:00|10.941666666666668|     CAMBORNE (3808)|  South West England|
|2016-02-21 00:00:00|           10.9375| HIGH WYCOMBE (3660)|London & South Ea...|
|2016-02-01 00:00:00|10.933333333333335|     SCAMPTON (3373)|       East Midlands|
|2016-02-20 00:00:00|10.904166666666667|    YEOVILTON (3853)|  South West England|
|2016-02-01 00:00:00|10.895833333333334|LINTON ON OUSE (3...|  Yorkshire & Humber|
|2016-02-01 00:00:00|10.887499999999998|     SHOREHAM (3876)|London & South Ea...|
|2016-02-01 00:00:00|10.878260869565217|    TRAWSGOED (3503)|               Wales|
|2016-02-01 00:00:00|10.870833333333337| MOUNT BATTEN (3827)|  South West England|
|2016-02-21 00:00:00|10.854166666666666|       KENLEY (3781)|London & South Ea...|
|2016-02-01 00:00:00|10.829166666666666|ISLE OF PORTLAND ...|  South West England|
|2016-02-21 00:00:00|10.829166666666666|     SCAMPTON (3373)|       East Midlands|
|2016-02-01 00:00:00|10.816666666666663|HERSTMONCEUX WEST...|London & South Ea...|
|2016-02-21 00:00:00|10.808333333333335| MOUNT BATTEN (3827)|  South West England|
|2016-02-01 00:00:00|10.800000000000002|     CULDROSE (3809)|  South West England|
|2016-02-01 00:00:00|10.791666666666666| BRIZE NORTON (3649)|London & South Ea...|
|2016-02-01 00:00:00|10.770833333333334|         RHYL (3313)|               Wales|
|2016-02-01 00:00:00|10.770833333333334|       FILTON (3628)|  South West England|
|2016-02-01 00:00:00|10.766666666666666|BRIDLINGTON MRSC ...|  Yorkshire & Humber|
|2016-02-21 00:00:00|10.754166666666665|   DONNA NOOK (3385)|       East Midlands|
|2016-02-20 00:00:00|10.754166666666665|SCILLY ST MARYS (...|  South West England|
|2016-02-01 00:00:00|             10.75|ST CATHERINES PT....|London & South Ea...|
|2016-02-01 00:00:00|10.741666666666665|BOSCOMBE DOWN (3746)|  South West England|
|2016-02-01 00:00:00|10.737499999999999|    TOPCLIFFE (3265)|  Yorkshire & Humber|
|2016-02-01 00:00:00|10.729166666666666|       KENLEY (3781)|London & South Ea...|
|2016-02-21 00:00:00| 10.72173913043478|THORNEY ISLAND (3...|London & South Ea...|
|2016-02-01 00:00:00| 10.72173913043478| SHOBDON SAWS (3520)|       West Midlands|
|2016-02-06 00:00:00|10.708695652173912|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-01 00:00:00|10.704166666666666|     LARKHILL (3743)|  South West England|
|2016-02-04 00:00:00|           10.6875|SCILLY ST MARYS (...|  South West England|
|2016-02-01 00:00:00| 10.68695652173913|       CROSBY (3316)|  North West England|
|2016-02-21 00:00:00|10.641666666666667|         RHYL (3313)|               Wales|
|2016-02-01 00:00:00| 10.63478260869565|MILFORD HAVEN C.B...|               Wales|
|2016-02-20 00:00:00|10.620833333333334|         HURN (3862)|  South West England|
|2016-02-04 00:00:00|10.620833333333334|     HAWARDEN (3321)|               Wales|
|2016-02-01 00:00:00|10.620833333333332|     ST-ATHAN (3716)|               Wales|
|2016-02-01 00:00:00|           10.5875|PEMBREY SANDS SAM...|               Wales|
|2016-03-13 00:00:00| 10.52916666666667|   MAGILLIGAN (3907)|    Northern Ireland|
|2016-02-20 00:00:00|10.529166666666669|     PERSHORE (3529)|       West Midlands|
|2016-03-12 00:00:00|10.520833333333332|ALTNAHARRA SAWS (...|Highland & Eilean...|
|2016-02-20 00:00:00|10.487500000000002|     HEATHROW (3772)|London & South Ea...|
|2016-02-01 00:00:00|10.479166666666666|      LEEMING (3257)|  Yorkshire & Humber|
|2016-03-13 00:00:00|10.470833333333331|   ALDERGROVE (3917)|    Northern Ireland|
|2016-02-20 00:00:00|10.441666666666665|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-20 00:00:00|10.429166666666665|     NORTHOLT (3672)|London & South Ea...|
|2016-03-12 00:00:00|            10.425|   ALDERGROVE (3917)|    Northern Ireland|
|2016-03-01 00:00:00|10.408333333333337|SCILLY ST MARYS (...|  South West England|
|2016-03-25 00:00:00|10.408333333333335|     HEATHROW (3772)|London & South Ea...|
|2016-02-21 00:00:00|              10.4|      LYNEHAM (3740)|  South West England|
|2016-02-21 00:00:00|10.391666666666666|     CULDROSE (3809)|  South West England|
|2016-02-21 00:00:00|10.391304347826084|MILFORD HAVEN C.B...|               Wales|
|2016-02-05 00:00:00|10.354166666666666|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-06 00:00:00|10.345833333333335|ST CATHERINES PT....|London & South Ea...|
|2016-02-06 00:00:00|10.337499999999997|     HEATHROW (3772)|London & South Ea...|
|2016-02-20 00:00:00| 10.33333333333333|     CAMBORNE (3808)|  South West England|
|2016-02-04 00:00:00|10.329166666666667|     HEREFORD (3522)|       West Midlands|
|2016-02-05 00:00:00|10.325000000000001|SCILLY ST MARYS (...|  South West England|
|2016-02-01 00:00:00|10.321739130434782| HIGH WYCOMBE (3660)|London & South Ea...|
|2016-02-20 00:00:00|           10.3125|  FARNBOROUGH (3768)|London & South Ea...|
|2016-02-06 00:00:00|10.304166666666669| SHOEBURYNESS (3693)|     East of England|
|2016-02-21 00:00:00|              10.3|    ABERPORTH (3502)|               Wales|
|2016-02-21 00:00:00|10.291666666666666|ISLE OF PORTLAND ...|  South West England|
|2016-02-20 00:00:00|10.283333333333333|     HEREFORD (3522)|       West Midlands|
|2016-02-20 00:00:00|10.279166666666667| MOUNT BATTEN (3827)|  South West England|
|2016-02-21 00:00:00| 10.27083333333333|       FILTON (3628)|  South West England|
|2016-02-01 00:00:00|10.258333333333336|DISHFORTH AIRFIEL...|  Yorkshire & Humber|
|2016-02-01 00:00:00|10.258333333333333|       VALLEY (3302)|               Wales|
|2016-02-06 00:00:00|10.245833333333332|       MARHAM (3482)|     East of England|
|2016-02-01 00:00:00|10.239130434782608|      LYNEHAM (3740)|  South West England|
|2016-02-21 00:00:00|10.233333333333333|   HULL EAST (99214)|  Yorkshire & Humber|
|2016-02-05 00:00:00|10.229166666666666|     NORTHOLT (3672)|London & South Ea...|
|2016-02-20 00:00:00|            10.225| SHOEBURYNESS (3693)|     East of England|
|2016-02-06 00:00:00|10.216666666666669|     SHOREHAM (3876)|London & South Ea...|
|2016-03-12 00:00:00|10.216666666666667|      KINLOSS (3066)|            Grampian|
|2016-02-01 00:00:00|10.187500000000002| MUMBLES HEAD (3609)|               Wales|
|2016-02-21 00:00:00|10.187500000000002|HERSTMONCEUX WEST...|London & South Ea...|
|2016-03-25 00:00:00|10.187500000000002|GRAVESEND-BROADNE...|London & South Ea...|
|2016-02-20 00:00:00|10.183333333333335|     CHIVENOR (3707)|  South West England|
|2016-02-06 00:00:00|10.179166666666667|     NORTHOLT (3672)|London & South Ea...|
|2016-02-05 00:00:00|10.179166666666665|     HEATHROW (3772)|London & South Ea...|
|2016-02-20 00:00:00|             10.15|       BENSON (3658)|London & South Ea...|
|2016-02-20 00:00:00|             10.15|     CULDROSE (3809)|  South West England|
|2016-02-04 00:00:00| 10.14583333333333|MILFORD HAVEN C.B...|               Wales|
|2016-02-06 00:00:00|10.145454545454548|THORNEY ISLAND (3...|London & South Ea...|
|2016-03-13 00:00:00|10.120833333333332|PRESTWICK RNAS (3...|         Strathclyde|
|2016-02-21 00:00:00|10.120833333333332|ST CATHERINES PT....|London & South Ea...|
|2016-02-04 00:00:00|10.113043478260868|EXETER AIRPORT (3...|  South West England|
|2016-02-21 00:00:00|10.112499999999999|     SHOREHAM (3876)|London & South Ea...|
|2016-03-25 00:00:00|10.104166666666666|     NORTHOLT (3672)|London & South Ea...|
|2016-02-04 00:00:00|           10.0875|PEMBREY SANDS SAM...|               Wales|
|2016-03-13 00:00:00|10.087499999999999|ABERDEEN DYCE (3091)|            Grampian|
|2016-02-20 00:00:00|10.083333333333334|MIDDLE WALLOP (3749)|London & South Ea...|
|2016-03-12 00:00:00|10.079166666666667|   CASTLEDERG (3904)|    Northern Ireland|
|2016-02-06 00:00:00|            10.075|     HOLBEACH (3469)|       East Midlands|
|2016-02-21 00:00:00|           10.0625|DUNKESWELL AERODR...|  South West England|
|2016-02-01 00:00:00|10.058333333333332|    ABERPORTH (3502)|               Wales|
|2016-03-01 00:00:00|10.045833333333334|EXETER AIRPORT (3...|  South West England|
|2016-02-05 00:00:00|10.045833333333333|     CHIVENOR (3707)|  South West England|
|2016-02-04 00:00:00|10.037500000000001|       VALLEY (3302)|               Wales|
|2016-03-12 00:00:00|10.020833333333334|  PORTGLENONE (3915)|    Northern Ireland|
|2016-02-20 00:00:00| 10.02083333333333|    COLESHILL (3535)|       West Midlands|
|2016-02-20 00:00:00|10.013636363636362|THORNEY ISLAND (3...|London & South Ea...|
|2016-02-21 00:00:00|           10.0125|LECONFIELD SAR (3...|  Yorkshire & Humber|
|2016-02-04 00:00:00|10.008333333333333|    YEOVILTON (3853)|  South West England|
|2016-02-20 00:00:00|10.004166666666668|    CHARLWOOD (3769)|London & South Ea...|
|2016-02-06 00:00:00|              10.0|    WEYBOURNE (3488)|     East of England|
|2016-02-06 00:00:00|              10.0|GREAT DUN FELL (3...|  North West England|
|2016-02-04 00:00:00| 9.999999999999996|ISLE OF PORTLAND ...|  South West England|
|2016-02-21 00:00:00| 9.999999999999996|    CARDINHAM (3823)|  South West England|
|2016-02-04 00:00:00| 9.995833333333334| MOUNT BATTEN (3827)|  South West England|
|2016-02-04 00:00:00| 9.995833333333332|     CULDROSE (3809)|  South West England|
|2016-02-20 00:00:00| 9.991666666666669|ISLE OF PORTLAND ...|  South West England|
|2016-02-04 00:00:00| 9.991304347826087|         RHYL (3313)|               Wales|
|2016-03-13 00:00:00| 9.990000000000002|SKYE/LUSA (SAMOS)...|Highland & Eilean...|
|2016-02-20 00:00:00|            9.9875| SHOBDON SAWS (3520)|       West Midlands|
|2016-02-05 00:00:00| 9.983333333333334| SHOEBURYNESS (3693)|     East of England|
|2016-02-01 00:00:00| 9.970833333333333|  LANGDON BAY (3796)|London & South Ea...|
|2016-02-06 00:00:00| 9.966666666666667|HERSTMONCEUX WEST...|London & South Ea...|
|2016-02-01 00:00:00|  9.96521739130435|    CARDINHAM (3823)|  South West England|
|2016-02-05 00:00:00| 9.965217391304348|EXETER AIRPORT (3...|  South West England|
|2016-02-21 00:00:00| 9.962499999999999|LITTLE RISSINGTON...|  South West England|
|2016-03-26 00:00:00| 9.958333333333332|     SCAMPTON (3373)|       East Midlands|
+-------------------+------------------+--------------------+--------------------+
only showing top 200 rows

We can see that the hottest day was on 21 Feb 2016 at Exeter Airport which is in South West England with an average temperature accross the day of 12.66 degrees. If we examine other records arranged by temperature we can see that the 1st of Feb is also quite a hot day as well.